# Go build artifacts
*.exe
*.exe~
*.dll
*.so
*.dylib

# Binaries for programs and plugins
/tmp
app
main

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when run with the
# -o option
*.out

# IDE settings
.idea/
.vscode/

# Environment variables
.env

# Log files
*.log
